.userDetial {
    font-size: 16px;
    @media screen and (max-width:979px) {
        width: 98%;
    }
    width: 90%;
    margin: 15px auto;
    display: flex;

    .user_innner {
        flex: 1;
        width: 100%;
        background-color: #fff;
    }
    .user_sidebar {
        @media screen and (max-width:979px) {
            display: none;
        }
        background-color: red;
        flex-basis: 290px;
        margin-left: 15px;
    }
}