@media screen and (max-width:979) {
    .content{
        width: 100%;
    }
}
#main{
    width: 90%;
    margin: 0.15rem auto;
}
.content{
    float: left;
    width: 70%;
}
.content-sidebar{
    font-size: 0.14rem;
    float: right;
    width: 30%;
}