@media screen and (max-width:979px) {
    .content{
        width: 100%;
    }
}
#main{
    @media screen and (max-width:979px){
        width: 98%;
    }
    width: 90%;
    margin: 0.15rem auto;
    &:after{
        content: '';
        display: block;
        width: 0px;
        height: 0px;
        clear: left;
    }
}
.content{
    @media screen and (max-width:979px){
        width: 100%;
        
    }
    float: left;
    width: 77%;
    background-color: #fff;

}
.content-sidebar{
    font-size: 0.14rem;
    margin-left: 0.1rem;
    float: right;
    width: 22%;
}