.allNews{
    width: 98%; 
  .nav-list{
    height: 0.3rem;
    width: 100%;
    padding: 0.1rem 0.1rem;
    border-bottom :1px solid #e1e1e1;
    overflow: hidden;
    img{
        display:block;
        float: left;
        height:0.3rem;
        width: 0.3rem;
    }
    .count{

        float: left;
        position: relative;
        height: 0.3rem;
        width: 70px;
        text-align: center;
        
        span{
             font-size: 0.14rem;
             float: left;
             text-align: center;
             line-height: 0.35rem;
             
        }
         .one{
            color: #9e78c0;
            margin-left: 0.05rem;
        }
        .two{
            color: #B4B4B4;
            font-size: 0.12rem;
        }
    }
    .putTop{  //绿色框框,置顶和精华
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        height: 0.18rem;
        margin-left: 0.02rem;
        float: left;
        font-size: 12px;
        color: azure;
        width: 0.32rem;
        border-radius: 0.03rem;
        background-color:#80bd01;
    }
    .putTab{  //灰色框框,问答和分享
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        height: 0.18rem;
        margin-left: 0.02rem;
        float: left;
        font-size: 12px;
        color:#999999;
        width: 0.32rem;
        border-radius: 0.03rem;
        background-color:#e5e5e5;
    }
    .title{
        float: left;
        margin-left: 0.06rem;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        font-size:0.16rem;
        color: #333333;
        &:hover{
            text-decoration:underline;
        }
    }
    .create_at{
        position: relative;
        top: 50%;
        float: right;
        transform: translateY(-50%);
        color: #778087;
        margin-right: 0.05rem;
        font-size: 0.12rem;
    }
}

}