
// @media  (min-width:500px) { //屏幕最小小于750px时
@media screen and (max-width: 480px) {
    html{
        font-size: 50px ;
    }
    .brand{
        width: 100%;
    }
    .navbar-search{
        width: 100%;
    }
    .pull-right{
        width: 100%;
    }
}
@media screen and (min-width:499px) and (max-width:980px) { //屏幕最大大小是980px时
    html{
        font-size: 80px !important;
    }
    .brand{
        width: 50%;
    }
    .navbar-search{
        width: 50%;
    }
    .pull-right{
        width: 100%;
    }
}
@media screen and (min-with:980px) { //屏幕最大，大于980px时
    html{
        font-size: 80px ;
    }
    .brand{
        width: 33.3%;
    }
    .navbar-search{
        width: 33.3%;
    }
    .pull-right{
        width: 33.3%;
    }

}


.navbar{
   width: 100%;
   overflow: hidden;
   background: #444;
   .container{
    width: 90%; 
    margin: 0 auto;
    height: 0.5rem;
    // padding: 0.05rem;
        .brand{
            font-size: 0.16rem;
            display: block;
            width: 1rem;
            float: left;
            padding: 0.03rem 0.1rem;
            height: 0.34rem;
            margin: 0 auto;
            img{
                width: 1.2rem;
                height: 0.34rem;
                line-height: 0.4rem;
            }
        }
        .navbar-search{
            text-align: left;
            line-height: 0.5rem;
            font-size: 0.16rem;
            margin-left: 0.06rem;
            float: left;
            height: 0.4rem;
            img{
                position: relative;
                left: 0.25rem;
                top: 0.05rem;
                z-index: 10;
            }
            .search-query{
                font-size: 0.16rem;
                position: relative;
                border: none;
                outline: none;
                border-radius: 0.13rem;
                transition: all .5s;
                color: #666;
                background-color: #666;
                padding: 0.05rem 0.15rem;
                padding-left: 0.25rem;
                &:focus{
                    background-color:#fff;
                }
                &:hover{
                    background-color:#fff;
                }
            }

        }
        .pull-right{
            font-size: 0.13rem;
            float: right;
            height: 0.4rem;
            // line-height: 0.5rem;
            li{
                float: left;
                a{
                    margin: 0 0.13rem;
                    text-decoration: none;
                    color: #e1e1e1;
                    line-height: 0.5rem;
                    &:hover{
                        color: #fff;
                        transition: all .3s;
                    }
                }
            }

        }


   }

}